## How to Create Pandas DataFrame in Python

In [7]:
#Lets's make a dataframe about fruits

import pandas as pd

food = {'Fruits': ['Apple','Banana','Orange','Pear'],
        'Carbohydrates (Grams)': [21,27,16,25],
        'Calories':[81,105,65,98]}

df = pd.DataFrame(food)

In [6]:
df

   Fruits  Carbohydrates (Grams)  Calories
0   Apple                     21        81
1  Banana                     27       105
2  Orange                     16        65
3    Pear                     25        98

In [8]:
# Alternatively, you may assign another value/name to represent each row.

import pandas as pd

food = {'Fruits': ['Apple','Banana','Orange','Pear'],
        'Carbohydrates (Grams)': [21,27,16,25],
        'Calories':[81,105,65,98]}

df = pd.DataFrame(food,index=['Fruit_1','Fruit_2','Fruit_3','Fruit_4'])

In [9]:
df

         Fruits  Carbohydrates (Grams)  Calories
Fruit_1   Apple                     21        81
Fruit_2  Banana                     27       105
Fruit_3  Orange                     16        65
Fruit_4    Pear                     25        98