 ## How to combine many series to form a dataframe

In [20]:
import pandas as pd
import numpy as np

ser1=pd.Series(list('dataframeexample'))
ser2=pd.Series(np.arange(16))
ser3=pd.Series(list(zip(ser1,ser2)))

In [21]:
ser3

0      (d, 0)
1      (a, 1)
2      (t, 2)
3      (a, 3)
4      (f, 4)
5      (r, 5)
6      (a, 6)
7      (m, 7)
8      (e, 8)
9      (e, 9)
10    (x, 10)
11    (a, 11)
12    (m, 12)
13    (p, 13)
14    (l, 14)
15    (e, 15)
dtype: object

In [22]:
df=pd.DataFrame(data={'Series 1':ser1,'Series 2':ser2,'Series 3':ser3})

In [23]:
df

   Series 1  Series 2 Series 3
0         d         0   (d, 0)
1         a         1   (a, 1)
2         t         2   (t, 2)
3         a         3   (a, 3)
4         f         4   (f, 4)
5         r         5   (r, 5)
6         a         6   (a, 6)
7         m         7   (m, 7)
8         e         8   (e, 8)
9         e         9   (e, 9)
10        x        10  (x, 10)
11        a        11  (a, 11)
12        m        12  (m, 12)
13        p        13  (p, 13)
14        l        14  (l, 14)
15        e        15  (e, 15)